# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Results (Large files)
data/
outputs/
weights/

# Virtual Environments
venv/
.env/
.venv/

# IDEs
.vscode/
.idea/

# COLMAP
*.db
*.db-journal

# System
.DS_Store
