[submodule "third_party/fastmap"]
	path = third_party/fastmap
	url = https://github.com/pals-ttic/fastmap
	ignore = dirty
[submodule "third_party/gaussian-grouping"]
	path = third_party/gaussian-grouping
	url = https://github.com/lkeab/gaussian-grouping.git
	ignore = dirty
[submodule "third_party/gaussian-splatting"]
	path = third_party/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
	ignore = dirty
[submodule "third_party/hloc"]
	path = third_party/hloc
	url = https://github.com/cvg/Hierarchical-Localization/
	ignore = dirty
[submodule "third_party/vggt"]
	path = third_party/vggt
	url = https://github.com/facebookresearch/vggt
	ignore = dirty
[submodule "third_party/sugar"]
	path = third_party/sugar
	url = https://github.com/Anttwo/SuGaR.git
	ignore = dirty
[submodule "third_party/milo"]
	path = third_party/milo
	url = https://github.com/Anttwo/MILo.git
	ignore = dirty
[submodule "third_party/PlanarGS"]
	path = third_party/PlanarGS
	url = https://github.com/SJTU-ViSYS-team/PlanarGS.git
	ignore = dirty
[submodule "third_party/2d-gaussian-splatting"]
	path = third_party/2d-gaussian-splatting
	url = https://github.com/hbb1/2d-gaussian-splatting.git
	ignore = dirty
[submodule "third_party/scaffold-gs"]
	path = third_party/scaffold-gs
	url = https://github.com/city-super/scaffold-gs.git
